.sidebar {
    grid-area: nav;
    background-color: #bdbdbd;
    padding: 5px;
}
.sidebar__item{
    padding: 5px 15px;
}

.item{
    color: #234a4a;
}
.active{
    color: darkred;
}
.sidebarFriend{
    margin-top: 10px;
    padding: 5px 15px;
    background: #eee;
    border-radius: 3px;
}