
.content {
    grid-area: content;
    background-color: aqua;
}
.avaAndDescription{
    display: flex;
    border-bottom: 1px solid #bfbfb3;
}
.avaWrapper{
    width: 250px;
    height: 230px;
    overflow: hidden;
}
.avatar{
    width: 250px;
}
.description{
    padding: 15px;
    width: 100%;
}
.posts{
    padding: 15px;
    width: 100%;
}