.item img {
    width: 100px;
    border-radius: 50%;
    padding: 10px;
    background: #eee;
}
.item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
}
.body{
    width: 75%;
    margin: 10px 20px auto;
}