.item img {
    width: 100px;
    border-radius: 50%;
    padding: 10px;
}
.item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}
.body{
    width: 75%;
    margin: 10px 20px auto;
}