* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial sans-serif;
}

.appWrapper {
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-areas: "header header header"
                        "nav content content";
    grid-gap: 5px;
    grid-template-rows: 70px 1fr;
    grid-template-columns: 2fr 10fr;
    min-height: 100vh;
}
.header{
    grid-area: header;
}
.navbar{
    grid-area: nav;
}
.content{
    background-color: #234a4a;
    color: #fff;
    padding: 10px;
    font-size: 20px;
}
