* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial sans-serif;
}

.appWrapper {
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-areas: "header header header" "nav content content";
    grid-gap: 5px;
    grid-template-rows: 70px calc(100vh - 75px);
    grid-template-columns: 2fr 10fr;
}

